
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 class="text-center text-uppercase fw-bold">Thanh toán</h2>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Họ tên</label>
            <input type="text" class="form-control" id="hoten">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="diachi">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="sdt">
        </div>
        <h5>Phương thức thanh toán</h5>
        <select class="form-select" aria-label="Default select example">
            <option selected>Phương thức thanh toán</option>
            <option value="1">Thanh toán bằng thẻ tín dụng</option>
            <option value="2">Thanh toán tiền mặt</option>
            <option value="3">thanh toán MoMo</option>
        </select>
        <button type="submit" class="btn btn-danger my-3" onclick="alerts()">Thanh toán</button>
    </form>
</div>
<script>
    function alerts() {
        alert("Thanh toán thành công")
    }
</script>
